<p>
  <strong>nama_obat:</strong>
  <%= @obat.nama_obat %>
</p>
 
<p>
  <strong>Lokasi:</strong>
  <%= @obat.qty %>
</p>

<p>
  <strong>Lokasi:</strong>
  <%= @obat.harga %>
</p>
 
 
<%= link_to 'Back', obats_path %>