<h1>Laporan Qty Keseluruhan Yang Terjual</h1>
<%= link_to 'Back', transaksis_path %>

<table border=1>
  <tr>
    <th>Nama Obat</th>
    <th>Qty Beli</th>
   

  </tr>
 
  <% @transaksi.each do |transaksi| %>
    <tr>
    <td><%= transaksi.obat.nama_obat %></td>
      <td><%= transaksi.qty_beli %></td>
    
     
    </tr> 
  <% end %>
  <tr>
    <td><strong>total qty seleruhan obat yang terjual</strong></td>
    <td><%= @sum %></td>
  </tr>


</table>

 